<h1>Editing Comment</h1>

<%= render partial: 'form', locals: { comment: @comment, placeholder: 'leave a comment...', form_id: 'edit_comment', submit_text: 'save changes' } %>

<%= link_to 'back to convo', :back %>
