<h1>all comments</h1>
<ul class="horizontal-menu _group">
  <li>sort by</li>
  <li><%= link_to 'recent', '?show=recent', class: ("active" if params[:show] != 'popular') %></li>
  <li><%= link_to 'popular', '?show=popular', class: ("active" if params[:show] == 'popular') %></li>
</ul>
<% if !@comments.blank? %>
  <%= render @comments %>
<% else %>
  no comments yet.
<% end %>
<%= paginate @comments %>
