<h1><%= @topic.name %></h1>
<%= render partial: 'convos/content_filters', locals: {
	browse_convos_path: topic_path(@topic),
	browse_comments_path: topic_comments_path(@topic)
	} %>
<% if !@comments.blank? %>
  <%= render @comments %>
<% else %>
  no comments yet.
<% end %>
<%= paginate @comments %>
