/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub scaffolds
 */

/* defaults */
* {
	margin: 0;
	padding: 0;
}
.user-links,
.post-reference > span,
body {
	background: #F2F8FC;
}
body {
	font: 16px / 1.333 'Lato', Verdana, sans-serif;
	color: #586166;
	/*ios*/
	-webkit-text-size-adjust: 100%;
}
a, .metadata a.highlight {
	color: #F5565B;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
a:link { 
	/*ios*/
	-webkit-tap-highlight-color: rgba(0,0,0,0); 
}
i {
	font-style: normal;
}
h1, h2 {
	margin-bottom: .5em;
}
h1 {
	font-size: 24px;
}
h2 {
	font-size: 18px;
}

small {
	color: #93A2AB;
}

/* ui (forms, buttons) */
.button,
input[type="submit"],
.unread-link::first-letter {
	background: #F5565B;
	color: #FCFEFF;
	cursor: pointer;
	font-weight: bold;
}

.field {
	margin-bottom: 10px;
}
input, textarea {
	display: block;
	color: #586166;
}
input[type="text"], 
input[type="email"], 
input[type="password"], 
textarea {
	border: 0;
}
input, textarea, input[type="submit"] {
	font: inherit;
}
textarea {
	background: transparent;
}
input[type="submit"], .button {
	border: 0;
	font: inherit;
	font-weight: bold;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	transition: background-color 0.2s;
	/*ios*/
	-webkit-appearance: none;
}

/* helpers */
._group:after {
	content: "";
	display: table;
	clear: both;
}

/* layout */
body {
	max-width: 700px;
	margin: auto;
	padding: 50px 30px 30px 50px;
}
main {
	position: relative;
}

/** header **/
.logo {
	width: 60px;
	height: 60px;
	position: absolute;
	border-radius: 50em;
	right: 100%;
	margin-right: 50px;
	overflow: hidden;
}
.logo img {
	display: block;
	width: 100%;
	opacity: 0.75;
}
.logo, 
.block-form, 
.nicer-select, 
.convo, 
.notification, 
input[type="text"], 
input[type="email"], 
input[type="password"] {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

/** navigation **/
.user-links {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 10px;
	padding-left: 15px;
	font-size: 14px;
	z-index: 1;
	border-top-left-radius: 2px;
}
.topic-tabs {
	position: absolute;
	right: 100%;
	text-align: right;
	top: 80px;
	width: 150px;
	margin-right: 50px;
}
.topic-tabs a {
	display: block;
	margin-bottom: 3px;
}
.topic-tabs hr {
	width: 30%;
	margin: 10px 0 5px;
	margin-left: auto;
	border: dotted #bacdd9;
	border-width: 1px 0 0;
}
.topic-tabs a.active {
	color: inherit;
	font-weight: bold;
}
.unread-link {
	display: inline-block;
	font-weight: bold;
}
.unread-link::first-letter {
	font-size: 12px;
	border-radius: 100%;
	line-height: 20px;
	width: 20px;
	text-align: center;
	float: left;
	margin-right: 3px;
}

.horizontal-menu {
	margin-bottom: 10px;
}
.horizontal-menu li {
	float: left;
	margin-right: 20px;
	list-style-type: none;
}
.horizontal-menu a {
	font-weight: bold;
}
.horizontal-menu a.active {
	border-top: 2px solid #F5565B;
}


/** footer **/
.site-footer {
	margin-top: 20px;
	padding: 10px 0 30px;
	font-size: 14px;
	border-top: 1px dotted #eee;
}
/* items (convos, comments) */
.convo, .button, input[type="submit"], input, textarea, .select, .notification, .embed-link {
	padding: 5px 10px;
	border-radius: 2px;
}

.convo, .notification {
	position: relative;
	padding: 10px;
	margin-bottom: 7px;
	border-width: 0 0 1px 0;
	word-wrap: break-word;
}
.convo, .convo.truncate .user-content::after, .notification {
	background: #fff;
}

.show-hidden-post-link,
.embed-link,
.convo.truncate .user-content .expand-link {
	cursor: pointer;
}
.embed-link {
	display: inline-block;
	margin-bottom: 5px;
	padding: 2px 4px;
	font-size: 12px;
	background: #F5565B;
	background: rgba(245, 86, 91, 0.1);
}
.hidden {
	display: none;
}
.show-hidden-post-link {
	display: block;
	margin: -1px 0 5px;
	font-size: 12px;
	text-align: center;
	border-radius: 2px;
	background: #eee;
	background: rgba(0,0,0,0.03);
}
.convo.truncate .user-content {
	position: relative;
	height: 90px;
	overflow: hidden;
}
.comment.truncate .user-content {
	height: 350px;
}
.convo.truncate .user-content .expand-link {
	position: absolute;
	bottom: 0;
	z-index: 1;
}
.convo.truncate .user-content::after {
	position: absolute;
	content: '';
	height: 21px;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}

.convo, .single-convo {
	padding-left: 50px;
	word-wrap: break-word;
}
.convo:target, 
.convo.truncate:target .user-content::after,
.active.convo, 
.active.convo.truncate .user-content::after,
.unread.notification {
	background: #fcfaf0;
}
.user-content a:visited {
	color: #93A2AB;
}

.convo h1 {
	font-size: 16px;
}

.vote-links {
	position: absolute;
	top: 7px;
	left: 8px;
	bottom: 7px;
	padding-right: 8px;
	border-right: 1px dotted #eee;
}

.disabled a.arrow.upvote {
	border-bottom-color: #eee;
}
.disabled a.arrow.upvote:not(.active) {
	border-bottom-color: #586166;	
	opacity: 0.15;	
	-webkit-transform: rotate(180deg) translate(0, -15px);
	-ms-transform: rotate(180deg) translate(0, -15px);
	-o-transform: rotate(180deg) translate(0, -15px);
	transform: rotate(180deg) translate(0, -15px);
}

.disabled a.arrow.downvote {
	border-top-color: #eee;	
}
.disabled a.arrow.downvote:not(.active) {
	border-top-color: #F5565B;	
	opacity: 0.2;	
	-webkit-transform: rotate(-180deg) translate(0, 15px);
	-ms-transform: rotate(-180deg) translate(0, 15px);
	-o-transform: rotate(-180deg) translate(0, 15px);
	transform: rotate(-180deg) translate(0, 15px);
}

a.arrow {
	width: 0; 
	height: 0; 
	position: relative;
	display: block;
	text-indent: -9999px;
	outline: 0;
	border: 10px solid transparent;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
a.arrow::before {
	content: '';
	position: absolute;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
}
a.arrow.upvote {
	margin: 10px 0;
	border-bottom-color: #BACDD9;
	border-top: none;
}
a.arrow.upvote.active {
	border-bottom-color: #F5565B;
	-webkit-transform: translate(0, -5px);
	-ms-transform: translate(0, -5px);
	-o-transform: translate(0, -5px);
	transform: translate(0, -5px);
}
a.downvote {
	border-top-color: #BACDD9;
	border-bottom: none;
}
a.arrow.downvote.active {
	border-top-color: #586166;
	-webkit-transform: translate(0, 5px);
	-ms-transform: translate(0, 5px);
	-o-transform: translate(0, 5px);
	transform: translate(0, 5px);
}

.metadata {
	font-size: 14px;
}
.metadata,
.metadata a,
.formatting-link,
.user-links a,
a.show-hidden-post-link {
	color: #93A2AB;
}
.admin-tag {
	padding: 0 3px;
	background: #B9CDDA;
	color: #fff;
	border-radius: 2px;
}

.thumbnail {
	float: left;
	max-height: 75px;
	overflow: hidden;
	margin: -4px;
	margin-left: -6px;
	margin-right: 8px;
	margin-bottom: -6px;
	border-radius: 0 2px 2px 0;
	background: #f9f9f9;
	position: relative;
}
.thumbnail > img {
	width: 75px;
	position: relative;
}
.user-content {
	margin-bottom: 3px;
}

/* polls */
/*.convo*/.poll {
	width: 50%;
	padding-left: 10px;
	border: 1px solid #DCE0E3;
}
.poll-option {
	display: block;
	margin-bottom: 5px;
}
.poll-option > span {
	font-size: 14px;
}
.poll .percentage,
.poll .percentage > i {
	display: block;
	height: 2px;
	border-radius: 2px;
	background: #eee;
}
.poll .percentage.hidden > i{
	opacity: 0;
}
.poll .percentage > i {
	background: #F3585F;
}

.poll > figcaption {
	margin-top: 5px;
}

/* single convo */
.single-convo {
	position: relative;
}
.single-convo .vote-links {
	bottom: 5px;
}
.pages span {
	color: #eee;
}

.user-content li {
	margin-left: 1.5em;
}
.user-content ul li {
	list-style-type: square;
}
.user-content blockquote {
	margin-left: 5px;
	padding-left: 10px;
	border-left: 2px solid #eee;
	color: #666;
}
.user-content table {
	border-collapse: collapse;
	background: #FCFEFF;
}
.user-content td, .user-content th  {
	padding: 2px 10px;
	border: 1px solid #ddd;
}
.user-content thead tr {
	background: #f3f3f3;
}
.user-content tr:nth-child(2n) {
	background: #fafafa;
}

.user-content p, .user-content ul, .user-content ol, .alert {
	margin-bottom: .75em;
	line-height: 1.4;
}
.user-content > *:only-child:not(ul, ol) {
	margin-bottom: 0;
}
.user-content img,
.user-content iframe,
.single-convo img {
	max-width: 100%;
}

/* comments */
.comments {
	margin-top: 20px;
	border-top: 1px dotted #eee;
}
.comments form {
	margin: 20px 0;
}
.replies {
	margin-left: 2px;
	padding-left: 7px;
	border-left: 1px dotted #BACDD9;
}
.replies .convo, .replies .block-form {
	position: relative;
}
.replies .convo::before, .replies .block-form::before {
	content: '';
	position: absolute;
	width: 7px;
	border-top: 1px dotted #BACDD9;
	right: 100%;
	top: 50%;
}
.replies .block-form {
	margin-top: 0;
	margin-bottom: 7px;
}

.block-form {
	position: relative;
	background: #fff;
}
.block-form, .nicer-select {
	padding: 10px 15px;
	border-radius: 2px;
	margin-bottom: 20px;
}
label.redundant-label {
	display: none;
}
.block-form .field,
.block-form input[type="text"],
.block-form input[type="email"],
.block-form input[type="password"],
.block-form textarea {
	margin: 0;
	padding: 0;
	box-shadow: none;
}
.block-form input[type="text"]:focus,
.block-form input[type="url"]:focus,
.block-form textarea:focus {
	outline: none;
}
.block-form .options {
	border-top: 1px solid #eaeaea;
	display: flex;
	padding-top: 7px;
}
.block-form .options input[type="text"] {
	margin-left: auto;
	padding-left: 10px;
	border-left: 1px dotted #eaeaea;
	border-radius: 0;
}
.block-form .options .by-admin {
	position: absolute;
	bottom: 100%;
	right: 0;
	margin-bottom: 5px;
	font-size: 14px;
	color: #ababab;
}
.block-form .options .by-admin > input {
	display: inline-block;
	margin-right: 5px;
	vertical-align: center;
}
.block-form textarea {
	width: 100%;
	resize: none;
	padding-bottom: 20px;
}
input[type="submit"][disabled] {
	background: #BACDD9;
	cursor: default;
}
.select {
	padding-left: 0;
}
.select, .select a span {
	color: #ababab;
}
.select a:hover {
	text-decoration: none;
}
.nicer-select {
	position: absolute;
	left: 0;
	z-index: 9999;
	background: #fff;
	border-top: none;
	width: 300px;
	border-radius: 0 0 2px 2px;
}
.nicer-select li {
	width: 50%;
	float: left;
	list-style-type: none;
	border-top: 1px dotted #eaeaea;
	padding: 2px 0;
}

.formatting-link {
	font-size: 12px;
	position: absolute;
	top: 100%;
	right: 0;
	margin-top: 5px;
}
.registration-form > div {
	float: left;
	width: 40%;
	padding-right: 20px;
}
.registration-form > aside {
}
.error {
	margin-top: -5px;
	font-size: 12px;
}

.post-reference {
	margin-bottom: 2px;
	position: relative;
}
.post-reference > span {
	position: relative;
	padding-right: 10px;
	z-index: 2;
}
.post-reference::after {
	content: '';
	display: block;
	position: absolute;
	opacity: 0.3;
	width: 100%;
	top: 50%;
	margin-top: 1px;
	z-index: 1;
	border-top: 1px dotted currentColor;
}

html.turbolinks-progress-bar::before {
  background-color: #F5565B !important;
  height: 2px !important;
}

@media screen and (max-width: 700px) {
	body {
		max-width: 700px;
		margin: 0;
		padding: 10px;
	}	
	.topic-tabs, .logo {
		position: static;
	}
	.logo {
		display: block;
		margin: auto;
	}
	.topic-tabs {
		width: auto;
		text-align: center;
		margin: 10px 0;
	}
	.topic-tabs a {
		display: inline-block;
		margin: 0 3px;
	}
	.topic-tabs hr {
		display: inline-block;
		width: 1px;
		margin: 0 2px;
		height: 0.75em;
		vertical-align: middle;
		border-width: 0 0 0 1px;
	}
	.block-form .options {
		flex-direction: column;
	}
	.block-form .options input[type="text"] {
		border-left: none;
		margin: 3px 0;
		padding: 0 0 5px;
		-webkit-appearance: none;
	}
	.select {
		border-bottom: 1px dotted #eaeaea;
	}
	/*.convo*/.poll, 
	.nicer-select {
		width: auto;
	}
	.md-editor {
		position: fixed;
		bottom: 0;
	}
}

.js-loading {
	position: relative;
	opacity: 0.5;
	pointer-events: none;
}

.md-editor {
	position: relative;
	padding-bottom: 15px;
}
.editor-header {
	position: absolute;
	bottom: 0;
	padding: 1px 0 2px;
	margin-bottom: 0;
	margin-left: -7px;
}
.editor-header .button {
	font-size: 14px;
	background: transparent no-repeat center center;
	opacity: 0.25;
	text-indent: -9999px;
	margin: 0 2px;
}
.editor-header .button.bold {
	background-image: url('editor/bold.png');
	background-size: 10px;
}
.editor-header .button.italics {
	background-image: url('editor/italics.png');
	background-size: 12px;
}
.editor-header .button.heading {
	background-image: url('editor/heading.png');
	background-size: 9px;
}
.editor-header .button.link {
	background-image: url('editor/link.png');
	background-size: 20px;
	position: relative;
	top: 1px;
	margin: 0 5px;
}
.editor-header .button.image {
	background-image: url('editor/image.png');
	background-size: 14px;
}
.editor-header .button.list {
	background-image: url('editor/list.png');
	background-size: 14px;
	position: relative;
	top: 1px;
}
.editor-header .button.quote {
	background-image: url('editor/quote.png');
	background-size: 16px;
	position: relative;
	top: 3px;
}
.editor-header .button:active {
	opacity: 0.9;
}
.editor-header .button[disabled] {
	opacity: 0.1;
}
.editor-header .button.italics {
	font-style: italic;
}
.editor-header .button.quote {}
/*#new_comment .editor-header, form[id^='reply'] .editor-header {
	top: 100%;
	margin-top: 10px;
	bottom: inherit;
	z-index: 2;
}*/
