/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= stub scaffolds
 */

/* defaults */
* {
	margin: 0;
	padding: 0;
}
body {
	font: 16px / 1.333 'Lato', Verdana, sans-serif;
	color: #586166;
	background: #F5F9FC;
	/*ios*/
	-webkit-text-size-adjust: 100%;
}
a, .metadata a.highlight {
	color: #F5565B;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
i {
	font-style: normal;
}
h1 {
	font-size: 24px;
	margin-bottom: .5em;
}

small {
	color: #93A2AB;
}

/* ui (forms, buttons) */
.button, input[type="submit"] {
	background: #F5565B;
	color: #FCFEFF;
	cursor: pointer;
}

.field {
	margin-bottom: 10px;
}
label {
	font-style: italic;
	color: #777;
}
label, input, textarea {
	display: block;
	color: #586166;
}
input[type="text"], input[type="email"], 
input[type="url"], input[type="password"], 
textarea {
	margin-top: 5px;
	border: 1px solid #eee;
}
input, textarea, input[type="submit"] {
	font: inherit;
}
textarea {
	background: transparent;
}
input[type="submit"] {
	border: 0;
	font: inherit;
	font-weight: bold;
	-webkit-transition: background-color 0.2s;
	-moz-transition: background-color 0.2s;
	-ms-transition: background-color 0.2s;
	transition: background-color 0.2s;
	/*ios*/
	-webkit-appearance: none;
}

/* helpers */
._group:after {
	content: "";
	display: table;
	clear: both;
}

/* layout */
body {
	position: relative;
	max-width: 700px;
	margin: auto;
	padding: 40px 30px 30px 50px;
}

/** header **/
.logo {
	width: 60px;
	height: 60px;
	position: absolute;
	border-radius: 50em;
	right: 100%;
	overflow: hidden;
}
.logo img {
	display: block;
	width: 100%;
	opacity: 0.75;
}
.logo, .block-form, .nicer-select, .convo {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}
.convos-menu {
	margin-bottom: 10px;
}
.convos-menu li {
	float: left;
	margin-right: 20px;
	list-style-type: none;
}
.convos-menu a {
	font-weight: bold;
}
.convos-menu a.active {
	border-top: 2px solid #F5565B;
}

/** topics **/
.topic-tabs {
	position: absolute;
	right: 100%;
	text-align: right;
	top: 120px;
	width: 150px;
}
.topic-tabs a {
	display: block;
	margin-bottom: 3px;
}
.topic-tabs a.active {
	color: inherit;
	font-weight: bold;
}


/** footer **/
.site-footer {
	margin-top: 20px;
	padding: 10px 0 30px;
	font-size: 14px;
	border-top: 1px dotted #eee;
}
/* items (convos, comments) */
.convo, .button, input[type="submit"], input, textarea, .select {
	padding: 5px 10px;
	border-radius: 2px;
}

.convo {
	position: relative;
	padding: 10px;
	margin-bottom: 7px;
	border-width: 0 0 1px 0;
	word-wrap: break-word;
}
.convo, .convo.truncate .user-content::after {
	background: #fff;
}
.convo.truncate .user-content {
	position: relative;
	height: 90px;
	overflow: hidden;
}
.convo.truncate .user-content .expand-link {
	position: absolute;
	bottom: 0;
	z-index: 1;
	cursor: pointer;
}
.convo.truncate .user-content::after {
	position: absolute;
	content: '';
	height: 21px;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}
.convo, .single-convo {
	padding-left: 40px;
	word-wrap: break-word;
}
.convo:target, .active.convo {
	background: #fcfaf0;
}
.user-content a:visited {
	color: #93A2AB;
}

.convo h1 {
	font-size: 16px;
}

.vote-links {
	position: absolute;
	top: 7px;
	left: 8px;
	bottom: 7px;
	padding-right: 8px;
	border-right: 1px dotted #eee;

}
.disabled.vote-links a {
	cursor: default;
}

a.upvote, 
a.downvote {
	width: 0; 
	height: 0; 
	position: relative;
	display: block;
	text-indent: -9999px;
	outline: 0;
}
a.upvote::before,  
a.downvote::before {
	content: '';
	position: absolute;
	top: -5px;
	right: -5px;
	bottom: -5px;
	left: -5px;
}

a.upvote:hover,
a.upvote.active,
.disabled.vote-links a.upvote.active {
	border-bottom-color: #F5565B;
}
.disabled.vote-links a.upvote {
	border-bottom-color: #eee;	
}

a.downvote:hover,
a.downvote.active,
.disabled.vote-links a.downvote.active {
	border-top-color: #586166;
}
.disabled.vote-links a.downvote {
	border-top-color: #eee;	
}

a.upvote {
	margin: 3px 0 8px;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #BACDD9;
}

a.downvote {
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #BACDD9;
}

.metadata,
.url-token {
	font-size: 14px;
}
.metadata,
.metadata a,
.url-token,
.url-token a {
	color: #93A2AB;
}
.url-token {
	font-weight: normal;
}

.thumbnail {
	float: left;
	max-height: 75px;
	overflow: hidden;
	margin: -4px;
	margin-left: -6px;
	margin-right: 8px;
	margin-bottom: -6px;
	border-radius: 0 2px 2px 0;
	background: #f9f9f9;
	position: relative;
}
.thumbnail > img {
	width: 75px;
	position: relative;
}
.user-content {
	margin-bottom: 3px;
}

/* single convo */
.single-convo {
	position: relative;
}
.single-convo .vote-links {
	bottom: 5px;
}
.pages span {
	color: #eee;
}

.user-content li {
	margin-left: 1.5em;
}
.user-content ul li {
	list-style-type: square;
}
.user-content blockquote {
	margin-left: 5px;
	padding-left: 10px;
	border-left: 2px solid #eee;
	color: #666;
}
.user-content table {
	border-collapse: collapse;
	background: #FCFEFF;
}
.user-content td, .user-content th  {
	padding: 2px 10px;
	border: 1px solid #ddd;
}
.user-content thead tr {
	background: #f3f3f3;
}
.user-content tr:nth-child(2n) {
	background: #fafafa;
}

.user-content p, .user-content ul, .user-content ol {
	margin-bottom: .75em;
	line-height: 1.4;
}
.user-content > *:only-child:not(ul, ol) {
	margin-bottom: 0;
}
.user-content img,
.single-convo img {
	max-width: 100%;
}

/* comments */
.comments {
	margin-top: 20px;
	border-top: 1px dotted #eee;
}
.comments form {
	margin: 20px 0;
}
.replies {
	margin-left: 2px;
	padding-left: 7px;
	border-left: 1px dotted #BACDD9;
}
.replies .convo, .replies .block-form {
	position: relative;
}
.replies .convo::before, .replies .block-form::before {
	content: '';
	position: absolute;
	width: 7px;
	border-top: 1px dotted #BACDD9;
	right: 100%;
	top: 50%;
}
.replies .block-form {
	margin-top: 0;
	margin-bottom: 7px;
}

.block-form {
	background: #fff;
}
.block-form, .nicer-select {
	padding: 10px 15px;
	border-radius: 2px;
	margin-bottom: 20px;
}
label.redundant-label {
	display: none;
}
.block-form .field,
.block-form input[type="url"],
input[type="text"],
.block-form textarea {
	margin: 0;
	border: 0;
	padding: 0;
}
.block-form:focus {
	border-color: #F5565B;
}
.block-form input[type="text"]:focus,
.block-form input[type="url"]:focus,
.block-form textarea:focus {
	outline: none;
}
.block-form .options {
	border-top: 1px solid #eaeaea;
	display: flex;
	padding-top: 7px;
}
.block-form .options input[type="text"] {
	margin-left: auto;
	padding-left: 10px;
	border-left: 1px dotted #eaeaea;
	border-radius: 0;
}
.block-form textarea {
	width: 100%;
	resize: none;
	padding-bottom: 21px;
}
input[type="submit"][disabled] {
	background: #BACDD9;
	cursor: default;
}
.select {
	position: relative;
	padding-left: 0;
}
.select, .select a span {
	color: #bbb;
}
.select a:hover {
	text-decoration: none;
}
.nicer-select {
	position: absolute;
	top: 100%;
	left: -16px;
	z-index: 9999;
	background: #FCFEFF;
	border-top: none;
	width: 300px;
	border-radius: 0 0 2px 2px;
}
.nicer-select li {
	width: 50%;
	float: left;
	list-style-type: none;
	border-top: 1px dotted #eaeaea;
	padding: 2px 0;
}

html.turbolinks-progress-bar::before {
  background-color: #F5565B !important;
  height: 2px !important;
}

@media screen and (max-width: 700px) {
	body {
		max-width: 700px;
		margin: 0;
		padding: 10px;
	}	
	.topic-tabs, .logo {
		position: static;
	}
	.logo {
		display: block;
		margin: auto;
	}
	.topic-tabs {
		width: auto;
		text-align: center;
		margin: 10px 0;
	}
	.topic-tabs a {
		display: inline-block;
		margin: 0 3px;
	}
	.block-form .options {
		flex-direction: column;
	}
	.block-form .options input[type="text"] {
		border-left: none;
		margin: 3px 0;
		padding: 0 0 5px;
		-webkit-appearance: none;
	}
	.select {
		border-bottom: 1px dotted #eaeaea;
	}
	.nicer-select {
		width: auto;
		margin-left: 1px;
	}
}
